body {
  background-color: var(--black);
  font-family: var(--font);
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  padding: 20px;
}

#options .option {
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: var(--green) 0px 2px 8px 0px;
  transition: 0.3s;
  border-radius: 10px;
  color: var(--green);
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  min-width: max-content;
}

#options .option:hover {
  cursor: pointer;
  box-shadow: var(--green) 0px 3px 8px 5px;
}

#options .option img {
  height: 40px;
  width: 40px;
  padding: 10px;
}

#options .option p {
  padding: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
